<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.sdau.dao.PageInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cn.sdau.pojo.PageInfo" >
    <id column="page_no" property="pageNo" jdbcType="VARCHAR" />
    <result column="page_name" property="pageName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="page_url" property="pageUrl" jdbcType="VARCHAR" />
    <result column="display_on_menu" property="displayOnMenu" jdbcType="TINYINT" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    page_no, page_name, description, page_url, display_on_menu, create_user, create_date, 
    update_user, update_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cn.sdau.pojo.PageInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from page_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from page_info
    where page_no = #{pageNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from page_info
    where page_no = #{pageNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cn.sdau.pojo.PageInfoExample" >
    delete from page_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cn.sdau.pojo.PageInfo" >
    insert into page_info (page_no, page_name, description, 
      page_url, display_on_menu, create_user, 
      create_date, update_user, update_date
      )
    values (#{pageNo,jdbcType=VARCHAR}, #{pageName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{pageUrl,jdbcType=VARCHAR}, #{displayOnMenu,jdbcType=TINYINT}, #{createUser,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.sdau.pojo.PageInfo" >
    insert into page_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pageNo != null" >
        page_no,
      </if>
      <if test="pageName != null" >
        page_name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="pageUrl != null" >
        page_url,
      </if>
      <if test="displayOnMenu != null" >
        display_on_menu,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pageNo != null" >
        #{pageNo,jdbcType=VARCHAR},
      </if>
      <if test="pageName != null" >
        #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="pageUrl != null" >
        #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="displayOnMenu != null" >
        #{displayOnMenu,jdbcType=TINYINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cn.sdau.pojo.PageInfoExample" resultType="java.lang.Integer" >
    select count(*) from page_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update page_info
    <set >
      <if test="record.pageNo != null" >
        page_no = #{record.pageNo,jdbcType=VARCHAR},
      </if>
      <if test="record.pageName != null" >
        page_name = #{record.pageName,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.pageUrl != null" >
        page_url = #{record.pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.displayOnMenu != null" >
        display_on_menu = #{record.displayOnMenu,jdbcType=TINYINT},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update page_info
    set page_no = #{record.pageNo,jdbcType=VARCHAR},
      page_name = #{record.pageName,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      page_url = #{record.pageUrl,jdbcType=VARCHAR},
      display_on_menu = #{record.displayOnMenu,jdbcType=TINYINT},
      create_user = #{record.createUser,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.sdau.pojo.PageInfo" >
    update page_info
    <set >
      <if test="pageName != null" >
        page_name = #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="pageUrl != null" >
        page_url = #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="displayOnMenu != null" >
        display_on_menu = #{displayOnMenu,jdbcType=TINYINT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where page_no = #{pageNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.sdau.pojo.PageInfo" >
    update page_info
    set page_name = #{pageName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      page_url = #{pageUrl,jdbcType=VARCHAR},
      display_on_menu = #{displayOnMenu,jdbcType=TINYINT},
      create_user = #{createUser,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where page_no = #{pageNo,jdbcType=VARCHAR}
  </update>
</mapper>